Binaries
DerivedDataCache
Intermediate
Saved
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/Android/ExampleKey.keystore
Build/Android/project.properties
Build/Android/res/drawable-hdpi/icon.png
Build/Android/res/drawable-ldpi/icon.png
Build/Android/res/drawable-mdpi/icon.png
Build/Android/res/drawable-nodpi/vr_icon.png
Build/Android/res/drawable-nodpi/vr_icon_background.png
Build/Android/res/drawable-xhdpi/icon.png
Build/Android/res/drawable/downloadimageh.png
Build/Android/res/drawable/downloadimagev.png
Build/Android/res/drawable/icon.png
Build/Android/res/drawable/splashscreen_landscape.png
Build/Android/res/drawable/splashscreen_portrait.png
Build/Android/src/com/epicgames/ue4/DownloadShim.java
Build/Android/src/com/YourCompany/ProjectTicTac/AlarmReceiver.java
Build/Android/src/com/YourCompany/ProjectTicTac/DownloaderActivity.java
Build/Android/src/com/YourCompany/ProjectTicTac/OBBData.java
Build/Android/src/com/YourCompany/ProjectTicTac/OBBDownloaderService.java
Build/Android_ASTC/FileOpenOrder/CookerOpenOrder.log
Build/Android_ASTC/FileOpenOrder/EditorOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Build/Android/ExampleKey.keystore
Build/Android/project.properties
Build/Android/res/drawable-hdpi/icon.png
Build/Android/res/drawable-ldpi/icon.png
Build/Android/res/drawable-mdpi/icon.png
Build/Android/res/drawable-nodpi/vr_icon.png
Build/Android/res/drawable-nodpi/vr_icon_background.png
Build/Android/res/drawable-xhdpi/icon.png
Build/Android/res/drawable/downloadimageh.png
Build/Android/res/drawable/downloadimagev.png
Build/Android/res/drawable/icon.png
Build/Android/res/drawable/splashscreen_landscape.png
Build/Android/res/drawable/splashscreen_portrait.png
Build/Android/src/com/epicgames/ue4/DownloadShim.java
Build/Android/src/com/YourCompany/ProjectTicTac/AlarmReceiver.java
Build/Android/src/com/YourCompany/ProjectTicTac/DownloaderActivity.java
Build/Android/src/com/YourCompany/ProjectTicTac/OBBData.java
Build/Android/src/com/YourCompany/ProjectTicTac/OBBDownloaderService.java
Build/Android_ASTC/FileOpenOrder/CookerOpenOrder.log
Build/Android_ASTC/FileOpenOrder/EditorOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
